[core]
    excludesfile = ~/.gitignore

[user]
	name = Josh Kunz
	email = josh@kunz.xyz 

[color]
    ui = auto

[push]
    default = upstream

[alias]
    last = !git --no-pager log -n 1 --pretty=\"format:%h\"
    pl = log --pretty=\"tformat:%C(auto)%h %>(10,trunc)%ar %>(10,trunc)%C(bold green)%an%Creset %s%C(auto)%d\" --graph
    pl-old = log --oneline --decorate --branches --graph
    w = diff --minimal --color-words
    # "Show Pull Diff"
    pdiff = diff -b "@{1}"
    pom = push origin master
    p = push
