[user]
	name = Josh Kunz
	email = joshkunz@me.com

[color]
    ui = auto

[push]
    default = current

[alias]
    pl = log --oneline --decorate --branches --graph
    w = diff --minimal --color-words
    # "Show Pull Diff"
    pdiff = diff -b "@{1}"
    pom = push origin master
